main {
  background-color: rgb(63, 53, 53);
  color: white;
}


img {
    display: block;
    box-shadow: rgba(65, 61, 61, 0.3);
    
  }
  #image {
    display: flex;
    justify-content: center;
    border-left: 150px solid transparent;
    max-width: 100%;
    height: 'auto';
  }

  #img-caption {
    text-align: center;
  }

  #title{
    text-align: center;
  }

  #tribute-info {
    text-align: center;
  }